/* mulish font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mulish:wght@300;600;900&display=swap');
/* roboto font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* plugina customize begain */
#side-menu .close {
    padding: 4px;
	border: none;
}

/* plugina customize end */

/* default css  */
:root{
    --brand:rgb(255,79,0);
    --secondary:rgb(191,191,191);
    --dark:rgb(0,0,0);
    --light:rgb(255,255,255);
    --gray:rgb(100, 100, 100);
    --time:.3s;
    --border:1px;
}
.bg-primary {
    background-color: var(--brand);
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.border{
    border: var(--border) solid var(--dark);
}
.brand {
    color: var(--brand);
}

h1, h2 {
    font-family: 'Mulish', sans-serif;
    font-weight:900;
    font-size: 50px;
}
p, span, div {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
* {
    font-family: 'Mulish',sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}
/* default css end */

/* common style begain */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.style-button {
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--brand);
    font-size: 20px;
    color: white;
    font-weight: 900;
    margin: 20px 0px;
    font-family: 'mulish', sans-serif;
    border: 1px solid var(--brand);
}
.style-button:hover {
    background-color: transparent;
    color: var(--brand);
}
.has-shadow {

}
.has-shadow-hover:hover {
    border-radius: 50px;
background: #dedede;
box-shadow:  20px 20px 60px #bdbdbd,
             -20px -20px 60px #ffffff;
}
.common-heading {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 45px;
    font-weight: 900;
    padding: 10px 0px;
    color: var(--dark);
    position: relative;
}
.common-heading::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 70px;
    height: 5px;
    background-color: var(--brand);
}
.common-heading::before {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 5px;
    height: 25px;
    background-color: var(--brand);
}
.section {
    padding: 20px 0px;
    margin: 10px 0px;
}


.corner-style {
    position: relative;
    transition: all linear .3s;
}
.corner-style:hover span:nth-child(1){
    left: -20px;
    top: -20px;
    transition: all linear .3s;
}
.corner-style:hover span:nth-child(2){
    left: -20px;
    top: -20px;
    transition: all linear .3s;
}
.corner-style:hover span:nth-child(3){
    right: -20px;
    bottom: -20px;
    transition: all linear .3s;
}
.corner-style:hover span:nth-child(4){
    right: -20px;
    bottom: -20px;
    transition: all linear .3s;
}
.corner-style span{
    position: absolute;
    background-color: var(--brand);
    border-radius: 10px;;
    transition: all linear .3s;

}
.corner-style span:nth-child(1){
    left: 20px;
    top: 20px;
    width: 100px;
    height: 8px;
    
}
.corner-style span:nth-child(2){
    left: 20px;
    top: 20px;
    height: 100px;
    width: 8px;
    
}
.corner-style span:nth-child(3){
    right: 20px;
    bottom: 20px;
    height: 100px;
    width: 8px;
    
}
.corner-style span:nth-child(4){
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 8px;
    
}

/* common style end */


#banner {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgba(173, 172, 172, 0.1);
}
#banner .banner-body {
    padding: 80px 0px;
    border: 1px solid;
}
#banner .banner-body .left{
    display: flex;
    justify-content:center;
    align-items:center;
}
#banner .banner-body .left .img{
    /* border: 1px solid black; */
    width: 500px;
    border-radius: 50px;
    background: #dedede;
    box-shadow:  20px 20px 60px #bdbdbd,
             -20px -20px 60px #ffffff;

}

#banner .banner-body .left .img img{
    width: 100%;
}
#banner .banner-body .right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
#banner .banner-body .right h1 {
    line-height: 45px;
    text-transform: capitalize;
    opacity: .7;
}
#banner .banner-body .right p {
    font-size: 18px;
    padding: 8px 0px;
    line-height: 25px;
    display: none;
}

/* banner end */


/* about us begain  */
#about {
    background-color: var(--secondary);
}
#about .about-body{
    padding: 20px;
    /* border: 1px solid; */
    
}
#about .about-body .left{
    display: flex;
    justify-content: center;;
    align-items: center;
}
#about .about-body .left .img{
    width: 400px;
}
#about .about-body .left .img .corner-style {
    transform: rotate(90deg);
}
#about .about-body .left .img img{

}
#about .about-body .right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 40px;
background: #dedede;
box-shadow:  20px 20px 60px #bdbdbd,
             -20px -20px 60px #ffffff;
}
#about .about-body .right {}
#about .about-body .right .info-table{}
#about .about-body .right .info-table .info-table-item{
    margin-bottom:20px;
}
#about .about-body .right .info-table .item-name {
    text-transform: capitalize;
    font-weight: 600;
    color: var(--brand);
}
#about .about-body .right .info-table .item-desc {
    width: 100%;;
    border-bottom: 1px solid var(--brand);
}
/* about us end */