/* mulish font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mulish:wght@300;600;900&display=swap');
/* roboto font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* plugina customize begain */
#side-menu .close {
    padding: 4px;
	border: none;
}

/* plugina customize end */

/* default css  */
:root{
    --brand:rgb(255,79,0);
    --secondary:rgb(191,191,191);
    --dark:rgb(0,0,0);
    --light:rgb(255,255,255);
    --gray:rgb(100, 100, 100);
    --time:.3s;
    --border:1px;
}
.bg-primary {
    background-color: var(--brand);
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.border{
    border: var(--border) solid var(--dark);
}
.brand {
    color: var(--brand);
}

h1, h2 {
    font-family: 'Mulish', sans-serif;
    font-weight:900;
    font-size: 50px;
}
p, span, div {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
* {
    font-family: 'Mulish',sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}
/* default css end */

/* common style begain */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.style-button {
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--brand);
    font-size: 20px;
    color: white;
    font-weight: 900;
    margin: 20px 0px;
    font-family: 'mulish', sans-serif;
    border: 1px solid var(--brand);
}
.style-button:hover {
    background-color: transparent;
    color: var(--brand);
}
.has-shadow {

}
.has-shadow-hover:hover {
    border-radius: 50px;
background: #dedede;
box-shadow:  20px 20px 60px #bdbdbd,
             -20px -20px 60px #ffffff;
}
.common-heading {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 45px;
    font-weight: 900;
    padding: 10px 0px;
    color: var(--dark);
    position: relative;
}
/* .common-heading::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 70px;
    height: 5px;
    background-color: var(--brand);
}
.common-heading::before {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 5px;
    height: 25px;
    background-color: var(--brand);
} */
.section {
    padding: 20px 0px;
    margin: 10px 0px;
}


.corner-style {
    position: relative;
    transition: all linear .3s;
}
.corner-style:hover span:nth-child(1){
    left: -20px;
    top: -20px;
    transition: all linear .3s;
}
.corner-style:hover span:nth-child(2){
    left: -20px;
    top: -20px;
    transition: all linear .3s;
}
.corner-style:hover span:nth-child(3){
    right: -20px;
    bottom: -20px;
    transition: all linear .3s;
}
.corner-style:hover span:nth-child(4){
    right: -20px;
    bottom: -20px;
    transition: all linear .3s;
}
.corner-style span{
    position: absolute;
    background-color: var(--brand);
    border-radius: 10px;;
    transition: all linear .3s;

}
.corner-style span:nth-child(1){
    left: 20px;
    top: 20px;
    width: 100px;
    height: 8px;
    
}
.corner-style span:nth-child(2){
    left: 20px;
    top: 20px;
    height: 100px;
    width: 8px;
    
}
.corner-style span:nth-child(3){
    right: 20px;
    bottom: 20px;
    height: 100px;
    width: 8px;
    
}
.corner-style span:nth-child(4){
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 8px;
    
}

/* common style end */


#banner {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgba(173, 172, 172, 0.1);
    position: relative;
    z-index: 2;
}
#banner::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-blue-tech-particle-banner-background-image_209837.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1;;
}
#banner .banner-body {
    padding: 80px 0px;
    /* border: 1px solid; */
}
#banner .banner-body .left{
    display: flex;
    justify-content:center;
    align-items:center;
    perspective:1000px;
    position: relative;
}
#banner .banner-body .left::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 100%;
    height: 100%;
    background-color: #ffffff0e;
    transform-style: preserve-3d;
    transform:rotateY(-30deg);
    transition: all linear .3s;
}
#banner .banner-body .left::before {
    content: "";
    position: absolute;
    top: 0;
    right: -25%;
    width: 100%;
    height: 100%;
    background-color: #ffffff0e;
    transform-style: preserve-3d;
    transform:rotateX(-55deg);
    display: none;
}
#banner .banner-body .left .img{
    /* border: 1px solid black; */
    width: 400px;
    background: transparent;
    /* box-shadow:  20px 20px 60px #bdbdbd, */
             /* -20px -20px 60px #ffffff; */
    /* overflow: hidden; */
    perspective:1000px;
    position: relative;
    /* margin-left: 20px; */
}

#banner .banner-body .left .img span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff0e;
    z-index: -1;
    border-radius: 8px;
    transform-style: preserve-3d;
    transform: rotateY(40deg);
    transition: all linear .3s;
}
#banner .banner-body .left:hover .img span:nth-child(1){
    transform: rotateY(0deg) scale(1.1);
    transition: all linear .3s;
    background-color: var(--brand);

}
#banner .banner-body .left:hover .img img{
    transform: rotateY(0deg);
    margin-left: 0px;
    transition: all linear .3s;
    box-shadow: 0px 0px 20px var(--gray);
}
#banner .banner-body .left:hover::after {
    width: 0px;
    transition: all linear .3s;
}
#banner .banner-body .left .img img{
    /* width: 100%; */
    /* border-top-right-radius: 50%;
    border-bottom-left-radius: 50%; */
    transition: trnasform 1s;
    transform-style: preserve-3d;
    transform: rotateY(45deg);
    margin-left: 50px;
    border-radius: 8px;
    transition: all linear .3s;
}
#banner .banner-body .right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
#banner .banner-body .right h1 {
    line-height: 50px;
    text-transform: capitalize;
    opacity: .7;
    color:var(--light)
}
#banner .banner-body .right p {
    font-size: 18px;
    padding: 8px 0px;
    line-height: 25px;
    display: none;
}

/* banner end */


/* about us begain  */
#about {
    background-color: var(--secondary);
}
#about .about-body{
    padding: 20px;
    padding-bottom: 60px;
    /* border: 1px solid; */
    
}
#about .about-body .left{
    display: flex;
    justify-content: center;;
    align-items: center;
}
#about .about-body .left .img{
    width: 400px;
}
#about .about-body .left .img .corner-style {
}
#about .about-body .left .img img{

}
#about .about-body .right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 40px;
    background:var(--light)
}
#about .about-body .right .info-table{
    margin-top: 5px;
}
#about .about-body .right .info-table .info-table-item{
    margin-bottom:20px;
    width: 40%;
}
#about .about-body .right .info-table .item-name {
    text-transform: capitalize;
    font-weight: 600;
    color: var(--brand);
}
#about .about-body .right .info-table .item-desc {
    width: 100%;;
    border-bottom: 1px solid var(--brand);
}
/* about us end */


/* service begain  */
#service {
    background-color: var(--brand);
    position: relative;
    z-index: 1;
}
#service::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://image.shutterstock.com/image-photo/modern-laptop-on-wooden-table-260nw-1193242996.jpg);
    /* background-position: center; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: .2;
}
#service .common-heading {
    color: var(--light);
}
#service p {
    color: var(--light);
    font-size: 18px;
}
#service .service-body {
    text-align: center;
    /* border: 1px solid; */
    padding: 20px 70px 70px 70px;
}
#service .service-body .service-item{

}
#service .service-body .service-item .service-item-body{
    border: 1px solid;
    position: relative;
    border-radius: 50px;
    padding: 40px 0px;
    border: 1px solid var(--light);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    background-color: var(--light);
}
#service .service-body .service-item .service-item-body:hover .top-bellow{
    background-color: var(--light);
    /* box-shadow: 10px 10px 20px #dbdbdb; */
}
#service .service-body .service-item .service-item-body:hover .item-top{
    background-color: var(--brand);
    color: var(--light);
}
#service .service-body .service-item .service-item-body:hover{
    background-color: var(--brand);
    color: var(--light);
}
#service .service-body .service-item .service-item-body .top-bellow{
    background-color: var(--light);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item-top {
    border: 1px solid var(--light);
    font-size: 25px;
    font-family: "Muslish", sans-serif;
    font-weight: 900;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: var(--brand);
    display: flex;
    align-items: center;
    justify-content: center;
}

#service #frequent-work {
    margin-top: 30px;
    text-align: center;
    padding: 40px 40px;
    /* box-sizing: border-box; */
    cursor: pointer;
    /* background-color: var(--brand); */
}
#service #frequent-work{}
#service #frequent-work .frequent-work-body{
    /* border: 1px solid; */
    padding: 0px 30px;
}
#service #frequent-work .frequent-work-body .inner{
    /* border: 1px solid; */
    position: relative;
    perspective: 1000px;
    z-index: 1;
}
#service #frequent-work .frequent-work-body .inner .left{
    /* border: 1px solid var(--light); */
    /* position:absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%); */
    /* border-radius: 50%; */
    width: 80px;
    height: 80px;;
    font-size: 25px;
    font-weight: 900;
    /* box-shadow: 0px 0px 25px var(--light); */
    background-color: var(--brand);
    display: flex;
    justify-content: center;
    align-items: center;;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    color: var(--light);
}
#service #frequent-work .frequent-work-body .inner .left::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--light) transparent transparent var(--light);
    transition: all linear .3s;
}
#service #frequent-work .frequent-work-body .inner .left::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--light) var(--light)transparent transparent ;
    transition: all linear .3s;
    /* border-radius: ; */
}
#service #frequent-work .frequent-work-body .inner:hover .left::after{
    width: 45px;
    height: 45px;
    transition: all linear .3s;
}
#service #frequent-work .frequent-work-body .inner:hover .left::before{
    width: 45px;
    height: 45px;
    transition: all linear .3s;
}
#service #frequent-work .frequent-work-body .inner .right{
    /* border: 1px solid; */
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--light);
    text-transform: capitalize;
    transition: transform .3s;
    transform-style: preserve-3d;
    /* transform: rotateY(-40deg); */
    border-radius: 25px;
    /* border-top-right-radius: 25px;
    border-bottom-left-radius: 25px; */

}
/* service end */


/* my work begain  */
#portfollio {
    padding: 50px 0px;
}
#portfollio .portfollio-body{}
#portfollio .portfollio-body{}
#portfollio .portfollio-body .filter-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* background-color: #bdbdbd; */
    /* border-radius: 25px; */
}
#portfollio .portfollio-body .filter-nav .row .nav-item:first-child {
}
#portfollio .portfollio-body .filter-nav .nav-item{
    width: 130px;
    /* border: 1px solid var(--dark); */
    text-align: center;
    padding: 5px;
    margin: 6px 2px;
    font-weight: 600;
    font-family: "Mulish",sans-serif;
    cursor: pointer;
    border: 1px solid var(--brand);
    border-radius: 25px;
}
#portfollio .portfollio-body .filter-nav .nav-item:hover {
    background-color: var(--brand);
    border: 1px solid var(--brand);
    color: var(--light);
}
.nav-item-active {
    background-color: var(--brand);
    color: var(--light);
    font-weight: 900;
    position:relative;
}
.nav-item-active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent var(--brand) var(--brand) transparent;
}


#portfollio .portfollio-body .filter-content{
    padding:40px;
    /* background-color: #bdbdbd; */
}
#portfollio .portfollio-body .filter-content .row {
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
#portfollio .portfollio-body .filter-content .row .content-item {
    /* border: 1px solid var(--brand); */
    width:  260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;;
    border-radius: 8px;
    
}

#portfollio .portfollio-body .filter-content .row  .content-item .content-body{
    transition: transform 1s;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    transform-style: preserve-3d;
    z-index: 1;
    /* border: 1px solid var(--gray); */
    box-shadow: 0px 0px 10px rgba(173, 172, 172, 0.7);
} 

/* on hover */
#portfollio .portfollio-body .filter-content .row .content-item:hover .content-body {
    transform: rotateY(180deg);
    
}
#portfollio .portfollio-body .filter-content .row .content-item:hover img {
    transform: scale(1.3);
    transition: all linear var(--time);
    
}

#portfollio .portfollio-body .filter-content .row .content-item img{
    transition: all linear var(--time);

}
#portfollio .portfollio-body .filter-content .row .content-item .item-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand);
    transition: all linear .4s;
    opacity: 0;
    z-index: 1;
    transform: rotateY(-180deg);
}
#portfollio .portfollio-body .filter-content .row .content-item:hover .item-overlay {
    opacity: 1;
}
#portfollio .portfollio-body .filter-content .row .content-item {}
/* my work end */